.Person {
    width:230px;
    margin: 10px;
    box-shadow: 0 3px 6px -2px #ccc;
    padding: 16px;
    text-align: center;
    display: inline-block;
    transition: 0.3s;
}
.Person:hover {
    box-shadow: 0 13px 20px #ccc;
    transform: translateY(-2px)
}
button {
    display: block;
    margin: auto;
}
.red {
    color: red;
}
.bold {
    font-weight: 900;
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}